@model int
<a href="@Url.Action("ShoppingCart", "Shopping")" id="cartItem" class="header-action" aria-label="&#1505;&#1500; &#1511;&#1504;&#1497;&#1493;&#1514;, @Model &#1508;&#1512;&#1497;&#1496;&#1497;&#1501;">
    <i class="bi bi-bag" aria-hidden="true"></i>
    <span>&#1505;&#1500;</span>
    @if (Model > 0)
    {
        <span>(@Model)</span>
    }
</a>
