@model IEnumerable<CoffeeShopOnline.Models.RoomTable>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "TableInfo";
    var message = TempData["Message"] ?? string.Empty;
    <link href="~/assets/Layout/css/style.css" rel="stylesheet" />
}
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>

@*<h3><strong>@TempData["Message"]</strong></h3>
*@
<script src="~/Scripts/jquery-3.6.0.min.js"></script>


<h3 style="text-align:center"> בחר שולחן עבור הלקוח</h3>
@using (Html.BeginForm("CheckTable", "Barista"))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h3>InSide Tables </h3>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.RoomType == "InSide")
                {

            <div class="col-12 col-md-3 col-lg-3 col-xl-3 ">

                <br />

                <div id="tablename" style="border-block:ridge">
                    Table Number is  @item.TableNumber 

                    Good For
                    <div id="person">
                        @for (int i = 0; i < item.TableSits; i++)
                        {
                            <i class="bi bi-person-fill"></i>
                        }
                    </div>
                </div>

                <br />
                @if (!item.Available)
                {
                    <button type="submit" name="mine" value=@item.Id id="table">

                        <img src="~/Images/ריבוע ירוק.png" />
                    </button>

                }
                else

                {
                    <img src="~/Images/ריבוע אפור.jpg" />
                    <h6>This Table is occupied </h6>

                }




            </div>

                }
            }
        </div>
    </div>

    <br />
    <br />
    if (DateTime.Now.DayOfWeek != DayOfWeek.Friday && DateTime.Now.DayOfWeek != DayOfWeek.Saturday)
    {


        <div class="container">
            <h3>OutSide Tables </h3>

            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.RoomType == "OutSide")
                    {

                        <div class="col-12 col-md-3 col-lg-3 col-xl-3 ">

                            <br />

                            <div id="tablename" style="border-block:ridge">
                                Table Number is  @item.TableNumber

                                Good For
                                <div id="person">
                                    @for (int i = 0; i < item.TableSits; i++)
                                    {
                                        <i class="bi bi-person-fill"></i>
                                    }
                                </div>
                            </div>

                            <br />
                            @if (!item.Available)
                            {
                                <button type="submit" name="mine" value=@item.Id  id="table">
                                    <img src="~/Images/ריבוע ירוק.png" />

                                </button>

                            }
                            else
                            {
                                <img src="~/Images/ריבוע אפור.jpg" />
                                <h6>This Table is occupied </h6>

                            }

                        </div>

                    }
                }
            </div>
        </div>
    }
    else
    {
        <h3>We Are Sorry in Friday and Saturday we dont have Siiting table OutSide </h3>
    }
}
<style>
    img {
        border: 2px solid red;
        border-radius: 8px;
        width: 100px;
        align-content: center
    }
</style>
