@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sami Shimon
    <br />
    Haim Nachman Bialik 56, Beer Sheva, 84100<br />
    <abbr title="Phone">P:</abbr>
    +972 08-610-5555
</address>

