
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-lg" style="text-align:center">
    <div>
        <h2>   GTR ברוכים הבאים לבית קפה   </h2>

        <div class="container-fluid col-sm-6">
            @Html.ActionLink("הזמנה אונליין", "OnlineOrder", "Home")
            <br />
        </div>
        <div class="container-fluid col-sm-6">
            <br />

            @Html.ActionLink("הזמנה מהבריסטה", "BaristaOrder", "Home")

        </div>





    </div>
</div>
